.left {
    display: flex;
    flex-direction: column;
}

input {
    padding: 6px;
    color: black;
}

::-webkit-input-placeholder {
    color: black;
}

.label {
    width: 200px;
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
}

span {
    font-size: 10px;
    color: gray;
    padding: 5px 0px;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

form {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn{
    position: absolute !important; 
    left: 540px;
    top: 450px;
}

button {
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}